---

---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quique Ciria</title>
    <meta name="description" content="tags, tags" />
    <link rel="stylesheet" href="src/css/font.css" />
    <link href="https://fonts.googleapis.com/css?family=Chivo:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>
  </head>

  <body class="bg-sky-900 mx-0 my-8 max-w-5xl font-sans">
    <div class="grid-container margin-top-40 margin-bottom-40">
      <div class="font-['triumpblack'] text-6xl leading-11 tracking-wide">
        <h1>
          QUIQUE<br />
          CIRIA.ES
        </h1>
      </div>
      <div class="font-['Chivo'] font-normal text-2xl leading-3 mt-8 bg-greenlight">
        <h2>Senior Product Designer at <a href="https://urbandataanalytics.com/" target="_blank">urbanData Analytics</a></h2>
      </div>
      <div class="col-1-1-0 font-[Chivo] font-normal text-base leading-6 mt-8 green-light">
        I am a designer who enjoys learning and building new things about design and code. The rest of the time, I usually ride my bike. If you are interested in working together, please email me ;)      <div class="col-1-1-0 font-[Chivo] font-normal text-base leading-6 mt-8 "></div>
        <a href="mailto:info@quiqueciria.es" target="_blank"
          >info@quiqueciria.es</a>
        路 <a href="https://github.com/quiqueciria" target="_blank">GitHub</a>
        路 <a href="https://www.linkedin.com/in/quiqueciria" target="_blank">LinkedIn</a>
        路 <a href="https://twitter.com/quiqueciria" target="_blank">Twitter</a>
      </div>

      <div class="col-1-1-0 mt-6">
      <div class="grid-container">
        <div class="col-1-1-1 title-3"><h2>Study cases</h2></div>
        <a href="https://quiquec.notion.site/M-stica-Design-System-9a1b4e6b5f68416992fc20352bcb2340" class="col-1-0-0 btn paragraph" target="_blank">M铆stica design system</a>
        <a href="https://quiquec.notion.site/M-stica-icons-5ac2eac9bb6742e49195e681344bcb54" class="col-0-1-0 btn paragraph" target="_blank">M铆stica icons</a>
        <a href="https://quiquec.notion.site/Notifications-Inbox-bf401b8141aa4d21a1e58b0e37b82345" class="col-0-0-1 btn paragraph" target="_blank">Notification inbox</a>
      </div>
      </div>
      <div class="col-1-1-0 title-3 green-light margin-top-40">
        <h2>Notes about my work</h2>
      </div>
      <div class="col-1-1-0 paragraph green-ligh margin-top-4">
          <a href="https://brandfactory.telefonica.com/d/iSp7b1DkYygv" target="_blank"
            > わ Mistica Design System of Telef贸nica</a>
      </div>
      <div class="col-1-1-0 paragraph green-ligh margin-top-4">
        <a href="https://alvaromillans.medium.com/does-your-product-really-need-a-design-system-abcfbdda444f" target="_blank"
          > Post about the reason we built M铆stica by lvaro Mill谩n</a>
      </div>
      <div class="col-1-1-0 paragraph green-ligh margin-top-4">
        <a href="https://blogthinkbig.com/mistica-servicio-diseno-digital" target="_blank"
          > Post about Mistica Design System (spa)</a>
      </div>
      <div class="col-1-1-0 paragraph green-ligh margin-top-4">
        <a href="https://youtu.be/oCbJDIRh608" target="_blank"
          > Video of introduction to Mistica Design System</a>
      </div>
      <div class="col-1-1-0 paragraph green-ligh margin-top-24">
        <a href="https://apps.apple.com/es/app/mi-movistar/id1246644017" target="_blank"
          > Mi Movistar App</a>
      </div>
      <div class="col-1-1-0 paragraph green-ligh margin-top-44">
        <a href="https://apps.apple.com/es/app/tuenti/id349705795#?platform=iphone" target="_blank"
          > Tuenti App</a>
      </div>
      <div class="col-1-1-0 paragraph green-ligh margin-top-4">
        <a href="https://apps.apple.com/gb/app/my-o2/id325533754#?platform=iphone" target="_blank"
          > O2 UK app</a>
      </div>
      <div class="col-1-1-0 paragraph green-ligh margin-top-24">
        <a href="https://blogthinkbig.com/app-mi-movistar-television-movistar" target="_blank"
          > Post about of the Living App of Mi Movistar</a>
      </div>
      <div class="col-1-1-0 paragraph green-ligh margin-top-4">
        <a href="https://youtu.be/vVSDLpHIoVM" target="_blank"
          > Video of introduction to the Living App of Mi Movistar</a>
      </div>
      <div class="col-1-1-0 paragraph green-ligh margin-top-40">
        <a href="https://quiquec44109.invisionapp.com/board/quique-ciria-ckli7vgb4003713rivumuiu5y" target="_blank"
          >锔 Moodboard of old works</a>
      </div>
      <div class="col-1-1-0 title-3 green-light margin-top-40">
        <h2>About this page</h2>
      </div>
      <div class="col-1-1-0 paragraph green-light">
        This website is something very simple, built only in HTML/CSS and hosted by Github Pages.</div>
  </body>
</html>
