---
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quique Ciria</title>
    <meta name="description" content="tags, tags" />
    <link rel="stylesheet" href="src/css/font.css" />
    <link rel="stylesheet" href="src/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Chivo:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>

<body class="mx-10 my-10 max-w-2xl text-slate-800 bg-slate-300">
<div class="pb-8 border-b-2 border-slate-400/20">
    <div class="title-3 mb-5">
        Text styles
    </div>
    <div class="title bg-slate-400/20">
        Triump Black 56/64
    </div>
    <div class="font-mono py-1 px-1 rounded">
        This a title
    </div>
    <div class="title-2 mt-1 bg-slate-400/20">
        Chivo 700 40/48
    </div>
    <div class="font-mono py-1 px-1 rounded">
        This a title two
    </div>
    <div class="title-3 mt-2 bg-slate-400/20">
        Chivo 700 40/48
    </div>
    <div class="font-mono py-1 px-1 rounded">
        This a title three
    </div>
    <div class="title-4 mt-2 bg-slate-400/20">
        Chivo 300 24/32
    </div>
    <div class="font-mono py-1 px-1 rounded">
        This a title four
    </div>
    <div class="mt-2 bg-slate-400/20 p-4">
        Chivo 400 16/24. The Bronx, New York, 1960. 9-year-old Calogero grows up admiring and fascinated by the local mob boss, Sonny. Calogero's father, Lorenzo, wants to have nothing to do with the mob and does his best to keep his son away from Sonny and mob business. However, it may prove a losing battle.
    </div>
    <div class="font-mono py-1 px-1 rounded">
        This a paragraph
    </div>
</div>
<div class="pb-8 border-b-2 border-slate-400/20">
    <div class="title-3 my-5">
        Colors
    </div>
</div>
</body>
</html>