---
---

<div class="font-['triumpblack'] text-6xl leading-[64px] tracking-wide">
    <h1>
      QUIQUE<br />
      CIRIA.ES
    </h1>
  </div>
  <div class="text-3xl leading-tight mt-4">
    <h2>Senior Product Designer</h2>
  </div>
  <div class="text-2xl leading-tight mt-8 w-auto">
    I am a designer who enjoys learning and building new things about design and code. The rest of the time, I usually ride my bike. If you are interested in working together, please email me ;)      <div class="col-1-1-0 font-[Chivo] font-normal text-base leading-6 mt-4 "></div>
  </div>
  <div class="pt-4 ">  
  <a class="border-b pb-1 border-slate-800 hover:border-orange-400" href="mailto:info@quiqueciria.es" target="_blank"
      >info@quiqueciria.es</a>
    · <a class="border-b pb-1 border-slate-800 hover:border-orange-400"  href="https://github.com/quiqueciria" target="_blank">GitHub</a>
    · <a class="border-b pb-1 border-slate-800 hover:border-orange-400"  href="https://www.linkedin.com/in/quiqueciria" target="_blank">LinkedIn</a>
    · <a class="border-b pb-1 border-slate-800 hover:border-orange-400"  href="https://twitter.com/quiqueciria" target="_blank">Twitter</a>
  </div>