---
---

<div class="font-['triumpblack'] text-6xl leading-16 tracking-wide">
    <h1>
      QUIQUE<br />
      CIRIA.ES
    </h1>
  </div>
  <div class="font-normal text-2xl leading-tight mt-8">
    <h2>Senior Product Designer at <a href="https://urbandataanalytics.com/" target="_blank">urbanData Analytics</a></h2>
  </div>
  <div class="col-1-1-0 leading-6 mt-8">
    I am a designer who enjoys learning and building new things about design and code. The rest of the time, I usually ride my bike. If you are interested in working together, please email me ;)      <div class="col-1-1-0 font-[Chivo] font-normal text-base leading-6 mt-8 "></div>
    <a href="mailto:info@quiqueciria.es" target="_blank"
      >info@quiqueciria.es</a>
    · <a href="https://github.com/quiqueciria" target="_blank">GitHub</a>
    · <a href="https://www.linkedin.com/in/quiqueciria" target="_blank">LinkedIn</a>
    · <a href="https://twitter.com/quiqueciria" target="_blank">Twitter</a>
  </div>