---
---

<div class="font-[Chivo] text-2xl mt-8"><h2>Study cases</h2></div>
<a href="https://quiquec.notion.site/M-stica-Design-System-9a1b4e6b5f68416992fc20352bcb2340" target="_blank">Mística design system</a>
<a href="https://quiquec.notion.site/M-stica-icons-5ac2eac9bb6742e49195e681344bcb54" target="_blank">Mística icons</a>
<a href="https://quiquec.notion.site/Notifications-Inbox-bf401b8141aa4d21a1e58b0e37b82345" target="_blank">Notification inbox</a>