@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    color: "decoration-white";
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid;
  }

  a:hover {
    color: #eb0ef3;
    padding-bottom: 3px;
    border-bottom: 2px solid #eb0ef3;
  }
}
